<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ECOMMERCE</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="width: 1920;height: 1080;color: var(--bs-blue);">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="#">Company Name</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto"></ul><span class="navbar-text actions"> <a class="login" href="#">Log In</a><a class="btn btn-light action-button" role="button" href="#">Sign Up</a></span>
            </div>
        </div>
    </nav>
    <h1 style="color: var(--bs-purple);">Heading</h1>
    <div class="card"></div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Title</h4>
            <h6 class="text-muted card-subtitle mb-2">Subtitle</h6>
            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
            <div class="btn-group" role="group"><button class="btn btn-primary" type="button">Delete</button><button class="btn btn-primary" type="button">Update</button></div>
        </div>
    </div>
    <footer></footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>